.nav {
  background-color: var(--yellow);
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid var(--grey);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
}

.nav__notification {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__notification--small {
  width: 10px;
  height: 10px;
  left: 35px;
  bottom: 25px;
}
